.footer {
  background-color: #363738;
  height: auto;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

ul {
  color: #8acdea;
  list-style: symbols();
}

li a {
  color: #efefef;
  text-decoration: none;
}

li a:hover {
  color: #8acdea;
  text-decoration: none;
}

.social {
  width: 36px;
}

.footer-p {
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  color: #8acdea;
}
