<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-5">
        <p class="footer-p">Empresa</p>
        <ul>
          <li><a [routerLink]="['/quienesSomos']" fragment="quienes_somos">Acerca de N'T Just Aesthetics</a></li>
          <li><a [routerLink]="['/quienesSomos']" fragment="mision_vision">Misión y Visión</a></li>
          <li><a [routerLink]="['/quienesSomos']" fragment="objetivos_corporativos">Objetivos Corporativos</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <p class="footer-p">Atención al cliente</p>
        <ul>
          <li><a [routerLink]="['/contactenos']">Contáctenos</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <p class="footer-p">Siguenos</p>
        <ul>
          <li><a href=""><img src="assets/img/facebook.png" class="social" alt="facebook"> Facebook</a></li>
          <li><a href=""><img src="assets/img/instagram.png" class="social" alt="instagram"> Instagram</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
