<main>
  <div class="txt d-flex justify-content-center">
    <h2 class="productos text-center">PRODUCTOS</h2>
  </div>

  <div *ngIf="productos.length == 0" class="txt d-flex justify-content-center">
    <div class="text-center">
        <h2 class="apiNotWork">No hay productos</h2>
    </div>
  </div>

  <div class="container container-productos" *ngIf="productos.length != 0">
    <div class="row">

      <div class="col-sm-3 col-card" *ngFor="let producto of productos; let i = index">
        <div class="card">
          <img src="./assets/img/productos/{{producto.imagen}}" class="card-img-top" alt="{{producto.imagen}}">
          <h5 class="card-title text-center">{{producto.nombre}}</h5>
          <div class="card-body">
            <p class="card-text"><small class="text-muted">Color: {{producto.color}}</small></p>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text">$ {{producto.precio}}</p>
            <div class="d-flex justify-content-center">
              <a [routerLink]="['/productos-edit', producto.id]" class="btn btn-card">Actualizar Producto</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>
