<div class="row">

  <div class="col-sm-3 col-card" *ngFor="let categoria of categorias; let i = index">
    <div class="card">
      <img src="./assets/img/categorias/{{categoria.imagen}}" class="card-img-top" alt="{{categoria.imagen}}"/>
      <h5 class="card-title text-center">{{categoria.nombre}}</h5>
      <div class="card-body">
        <p class="card-text">
          Diferentes diseños a su gusto<br/>
          Tallas: S, M, L.
        </p>
        <div class="d-flex justify-content-center">
          <a [routerLink]="['/productos', categoria.id]" class="btn btn-card">Ver más</a>
        </div>
      </div>
    </div>
  </div>

</div>
