<div *ngIf="categorias.length == 0" class="txt d-flex justify-content-center">
  <div class="text-center">
      <h2 class="apiNotWork">No hay Categorias</h2>
  </div>
</div>

<div class="row" *ngIf="categorias.length != 0">

  <div class="col-sm-3 col-card" *ngFor="let categoria of categorias; let i = index">
    <div class="card">
      <img src="./assets/img/categorias/{{categoria.imagen}}" class="card-img-top" alt="{{categoria.imagen}}"/>
      <h5 class="card-title text-center">{{categoria.nombre}}</h5>
      <div class="card-body">
        <p class="card-text">
          Diferentes diseños a su gusto<br/>
          Tallas: S, M, L.
        </p>
        <div class="d-flex justify-content-center">
          <a [routerLink]="['/productos-cat', categoria.nombre]" class="btn btn-card">Ver más</a>
        </div>
      </div>
    </div>
  </div>

</div>
