<main>
  <div class="txt d-flex justify-content-center">
    <h2 class="ofertas text-center">OFERTAS</h2>
  </div>

  <div *ngIf="ofertas.length == 0" class="txt d-flex justify-content-center">
    <div class="text-center">
        <h2 class="apiNotWork">No hay Ofertas</h2>
    </div>
  </div>

  <div class="container container-ofertas" *ngIf="ofertas.length != 0">
    <div class="row">

      <div class="col-sm-3 col-card" *ngFor="let oferta of ofertas; let i = index">
        <div class="card">
          <ul class="p-2 lista-o ul-oft">
            <li class="float-end">
              <h4>
                <span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="{{oferta.descuento}}% de descuento">-{{oferta.descuento}}%</span>
              </h4>
            </li>
            <li>
              <h4>
                <span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Oferta por tiempo limitado">Oferta</span>
              </h4>
            </li>
          </ul>
          <img src="./assets/img/productos/{{oferta.producto.imagen}}" class="card-img-top" alt="..." />
          <h5 class="card-title text-center">{{oferta.producto.nombre}}</h5>
          <div class="card-body">
            <p class="card-text">{{oferta.producto.descripcion}}</p>
            <p class="card-text">
              <small class="text-muted">Color: {{oferta.producto.color}}</small>
            </p>
            <div class="cont-pd">
              <p class="float-end p-pre">${{oferta.precioDescuento}}</p>
              <p class="p-oft">${{oferta.producto.precio}}</p>
            </div>
            <div class="d-flex justify-content-center">
              <a [routerLink]="['/cart', 'oferta', oferta.id]" class="btn btn-card">Añadir Producto</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
