section .row {
  padding: 50px 0px 50px;
}

.titulo {
  font-size: 35px;
}

.parrafo {
  font-size: 20px;
}

.footer {
  margin-top: 25px;
}

#objetivos_corporativos li {
  color: #000 !important;
}

#objetivos_corporativos ul {
  position: relative;
  left: 20px;
}
