<section id="quienes_somos">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <h2 class="titulo">Quienes somos</h2>
        <p class="parrafo">
          Somos una empresa estratégica especializada en garantizar calidad y buen servicio al
          ser un puente entre los vendedores y clientes, a través de nuestra plataforma.
        </p>
      </div>
      <div class="col" style="max-width: 250px;"></div>
      <div class="col">
        <img src="./assets/img/quienes_somos.jpg" class="img-thumbnail" alt="Quienes Somos">
      </div>
    </div>
  </div>
</section>


<section id="mision_vision">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="./assets/img/mision.jpg" class="img-thumbnail" alt="Quienes Somos">
      </div>
      <div class="col" style="max-width: 250px;"></div>
      <div class="col align-self-center">
        <h2 class="titulo">Misión</h2>
        <p class="parrafo">
          Ofrecer un servicio integral e innovador en venta de ropa por medio de nuestra página web, siendo
          intermediarios y un canal estratégico para que vendedores externos puedan comercializar ropa nueva
          o de segunda mano y que nuestros clientes puedan adquirir estas prendas de manera rápida, sencilla,
          con calidad, a la vanguardia, seguridad en sus compras, manejando precios asequibles y cómodos; además,
          ajustándose a los estándares de los mismos.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col align-self-center">
        <h2 class="titulo">Visión</h2>
        <p class="parrafo">
          Ser una de las plataformas líderes y reconocidas en venta de ropa nueva o de segunda mano a nivel
          nacional e internacional que permita una excelente conexión entre vendedores externos y nuestros
          clientes manteniendo estándares de calidad, precios asequibles, comodidad y seguridad en sus compras.
        </p>
      </div>
      <div class="col" style="max-width: 250px;"></div>
      <div class="col">
        <img src="./assets/img/vision.jpg" class="img-thumbnail" alt="Quienes Somos">
      </div>
    </div>
  </div>
</section>

<section id="objetivos_corporativos">
  <div class="container">
    <div class="row">
      <h2 class="titulo">Objetivos corporativos</h2>
      <ul>
        <li>Proporcionar una plataforma que brinde una excelente conectividad entre cliente y vendedor.</li>
        <li>Generar un ambiente de trabajo óptimo que promueva el bienestar de nuestros colaboradores.</li>
        <li>Suscitar confiabilidad a nuestros clientes manteniendo los estándares de calidad.</li>
        <li>Ofrecer el debido protocolo en la desinfección de la ropa</li>
        <li>Permanecer como intermediarios aliados estratégicos de nuestros usuarios.</li>
        <li>Mantener los precios accesibles de las prendas</li>
        <li>Ser reconocidos a nivel nacional e internacional.</li>
      </ul>
    </div>
  </div>
</section>
